.CartContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;

    .CartContainer__zero {
        
    }
    .CartContainer__title {
        background-color: #999999;
        width: 100%;
        display: flex;
        justify-content: center;;
    }

    .CartContainer__products {
        min-height: 60px;
        display: flex;
        align-items: center;

        .CartContainer__products__zero {
            font-size: 11px;
        }
        .ProductContainer {
            width: 100%;
        }
    }
    .CartContainer__valuesInformation {
        width: 100%;
    }
    

}