.TopBarComponent {
  background-color: #fff;

  .header__display {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .header__logo {
      > img {
        width: 150px;
      }
    }
    .header__profile {
      display: flex;
      align-items: center;
      color:#000;

      img {
        // height: 2rem;
        height: 30px;
        border-radius: 100%;
        margin-right: 10px;
      }
    }
    @media (min-width: 450px) {

    }
  }
}